# IDEs y editores
.vscode/
.idea/
**/*~

# Archivos de sistema
.DS_Store
**/.DS_Store

# ICP / DFX
.dfx/

# Archivos generados
**/declarations/
dist/
.svelte-kit/
target/
audit_artifacts/

# Dependencias
node_modules/

# Entorno
.env
