# IDEs y editores
.vscode/
.idea/
**/*~

# Archivos de sistema
.DS_Store
**/.DS_Store

# ICP / DFX
.dfx/
canister_ids.json

# Archivos generados
**/declarations/
dist/
.svelte-kit/
target/

# Dependencias
node_modules/

# Entorno
.env
